<h2>welcome to <i class="fas fa-book"></i>Bookers !!</h2>
<p>In <i class="fas fa-book"></i>Bookers,</br>
you can share and exchange your opinions , inpressions , and emotions</br>
about various books!</p>
<button><%= link_to "login",new_user_session_path%></button>
<button><%= link_to "sign up", new_user_registration_path %></button>