<h2>Books Serch for </h2>
<% @books.each do |book| %>
  <tr class="border-top border-bottom">
    <td class="pt-2 pb-2"><%= attachment_image_tag book.user, :profile_image, size: "60x60" , fallback: "no_image.jpg"%></td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
  </tr>
<% end %>
